.cyber_part--animation .znColumnElement {
    animation-delay: 0s !important;
}

.zn_section .cyber_space {
    height: 100px;
}

.part__col {
    padding: 15px 0 15px 125px;
    transition: all 0.5s ease;
}

.part__col:hover {
    transform: scale(1.08);
}

.part__item {
    display: flex;
    position: relative;
    height: 400px;
    color: black;
    background: linear-gradient(to right, #227df952, #e0dcff, #df3ef817);
    border-radius: 15px;
    padding: 25px 15px;
    align-items: center;
}

.part__item .img__show {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0;
    width: 230px;
    height: 230px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.part__item .item__text {
    width: 65%;
    margin-left: auto;
}

.part__item .item__text h3 {
    font-size: 20px;
    line-height: 27px;
    margin-top: 0;
}

.part__item .img__show img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}



@media screen and (min-width: 1199px) and (max-width: 1350px) {
    .part__item .img__show img {
        width: 85%;
        height: 95%;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .part__col {
        padding: 75px 0 75px 0px;
        transform: unset;
    }

    .part__item .img__show {
        top: 0;
        left: 50%;
    }

    .part__item .item__text {
        width: 100%;
        margin-top: 40px;
    }
}

@media (max-width: 992px) {
    .part__item .item__text {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .part__col {
        padding: 60px 0 75px 0px;
        transform: unset;
    }

    .part__item .img__show {
        top: 0;
        left: 50%;
        width: 180px;
            height: 180px;
    }

    .part__item .item__text {
        width: 100%;
        margin-top: 30px;
    }
        .part__item{
                height: 300px;
        }
}


@media screen and (min-width: 1536px) {
    .part__item .item__text {
        width: 70%;
    }

    .part__item .img__show {
        width: 200px;
        height: 200px;
    }

    .part__item {
        padding: 25px 45px;
    }
}