/* 
    Spacing 
*/

/* Margin*/
.cyber-m-auto {
    margin: auto;
}

.cyber-m-0 {
    margin: 0;
}

.cyber-mt-0 {
    margin-top: 0;
}

.cyber-mb-0 {
    margin-bottom: 0;
}

.cyber-ms-0 {
    margin-left: 0;
}

.cyber-me-0 {
    margin-right: 0;
}

.cyber-mx-0 {
    margin-right: 0;
    margin-left: 0;
}

.cyber-my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

/* Padding*/

.cyber-p-0 {
    padding: 0;
}

.cyber-pt-0 {
    padding-top: 0;
}

.cyber-pb-0 {
    padding-bottom: 0;
}

.cyber-ps-0 {
    padding-left: 0;
}

.cyber-pe-0 {
    padding-right: 0;
}

.cyber-px-0 {
    padding-right: 0;
    padding-left: 0;
}

.cyber-py-0 {
    padding-top: 0;
    padding-bottom: 0;
}


.cyber-py-60px {
    padding-top: 60px;
    padding-bottom: 60px;
}

.cyber-px-20px {
    padding-right: 20px;
    padding-left: 20px;
}

.cyber-pb-30px {
    padding-bottom: 30px;
}

.cyber-pb-40px {
    padding-bottom: 40px;
}

.cyber-pb-20px {
    padding-bottom: 20px;
}

.cyber-pt-20px {
    padding-top: 20px;
}