
.customGridGallery .imageClass {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 20px;
}
@media (max-width: 992px) {
  .customGridGallery .imageClass {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: unset;
    grid-row: unset;
  }
}
.customGridGallery .imageClass .imageItem {
  position: relative;
}
.customGridGallery .imageClass .imageItem:hover i {
  opacity: 1;
  margin-top: 0;
}
@media (max-width: 992px) {
  .customGridGallery .imageClass .imageItem {
    width: calc(50% - 10px);
  }
}
@media (max-width: 576px) {
  .customGridGallery .imageClass .imageItem {
    width: calc(50% - 20px);
  }
}
.customGridGallery .imageClass .imageItem i {
  position: absolute;
  font-size: 20px;
  color: white;
  padding: 20px;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: 15px;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: all 0.5s;
  transform: translate(-50%, -50%);
}
.customGridGallery .imageClass .imageItem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  filter: brightness(0.9);
}
.customGridGallery .imageClass .imageItem:nth-child(1) {
  grid-row: 1;
}
.customGridGallery .imageClass .imageItem:nth-child(3) {
  grid-column: 3;
  grid-row: 1/span 2;
}
.customGridGallery .imageClass .imageItem:nth-child(5) {
  grid-column: 1/span 2;
}