.cyberCardBox-item {
    box-shadow: rgb(208 215 251 / 50%) 0px 8px 15px 0px;
    background: rgba(255, 255, 255, 0.1);
    /* border: 3px solid rgba(0, 0, 0, 0.05); */
    padding: 15px;
    transition: all 0.5s;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    /* margin: 20px 0px; */
    height: 100%;
}

.cyberCardBox-item:hover {
    transform: scale(1.05);
    /* backdrop-filter: blur(0px); */
}

/* .cyberCardBox-item::before,
.cyberCardBox-item::after {
    content: "";
    position: absolute;
    transition: all 0.5s ease;
    max-height: 150px;
    max-width: 150px;
    width: 0%;
    height: 45%;
    opacity: 0.3;
    z-index: 2;
} */

/* .cyberCardBox-item::before {
    top: -10%;
    right: -15%;
    border-radius: 40% 50% 55% 70% / 75% 45% 65% 50%;
    background: #d043ff;
} */

/* .cyberCardBox-item::after {
    bottom: -10%;
    left: -10%;
    background: #00429d;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
} */

/* .cyberCardBox-item:hover::before,
.cyberCardBox-item:hover::after {
    width: 60%;
} */


.cyberCardBox-image {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 20px;
}

.cyberCardBox-imagetag {
    transition: all 0.5s ease;
    box-shadow: 0 1px 1px rgb(0 0 0 / 22%);
    width: 100%;
    height: auto;
    border-radius: 16px;
}

.cyberCardBox-item:hover .cyberCardBox-imagetag {
    filter: brightness(1.1);
    transform: scale(0.95)
}

.cyberCardBox-title {
    margin-bottom: 10px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.7);
    padding: 0;
    font-size: 15px;
    color: #fff;
    line-height: 1.4;
    z-index: 3;
    position: relative;
    transition: all 0.5s ease;
}

.cyberCardBox-overlay {
    position: absolute;
    transition: height 0.5s ease;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(300deg, #227df9, #7462f9, #df3ef8);
}



.cyberCardBox-text {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.cyberCardBox-tag {
    padding: 2px 6px;
    margin-top: 4px;
    border-radius: 50px;
    margin-right: 3px;
    white-space: nowrap;
    color: #fff;
    background: rgba(255, 255, 255, 0.25);
    /* backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); */
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 12px;
    position: relative;
}


/* ----------------------------- Color Gradient ----------------------------- */

.cyberCardBox-item.gradient_box_1 .cyberCardBox-overlay {

    background: linear-gradient(209.21deg,
            rgb(4, 55, 174) 13.57%,
            rgb(29, 81, 146) 98.38%) !important;
}

.cyberCardBox-item.gradient_box_2 .cyberCardBox-overlay {
    background: linear-gradient(209.21deg,
            rgb(16, 114, 204) 13.57%,
            rgb(89, 0, 159) 98.38%) !important;
}

.cyberCardBox-item.gradient_box_3 .cyberCardBox-overlay {
    background: linear-gradient(9.21deg,
            rgb(0, 6, 149) 13.57%,
            rgb(116, 69, 154) 98.38%) !important;
}

.cyberCardBox-item.gradient_box_4 .cyberCardBox-overlay {
    background: linear-gradient(209.21deg,
            rgb(87, 15, 141) 13.57%,
            rgb(243, 91, 160) 98.38%) !important;
}

.cyberCardBox-item.gradient_box_5 .cyberCardBox-overlay {
    background: linear-gradient(209.21deg,
            rgb(22, 155, 173) 13.57%,
            rgb(0, 54, 135) 98.38%) !important;
}

.cyberCardBox-item.gradient_box_6 .cyberCardBox-overlay {
    background: linear-gradient(209.21deg,
            rgb(73, 38, 173) 13.57%,
            rgb(52, 53, 99) 98.38%) !important;
}

.cyberCardBox-item.gradient_box_7 .cyberCardBox-overlay {
    background: linear-gradient(209.21deg,
            rgb(12, 39, 178) 13.57%,
            rgb(133, 218, 213) 98.38%) !important;
}

.cyberCardBox-item.gradient_box_8 .cyberCardBox-overlay {
    background: linear-gradient(209.21deg,
            rgb(48, 173, 221) 13.57%,
            rgb(64, 26, 190) 98.38%) !important;
}

.cyberCardBox-item.gradient_box_9 .cyberCardBox-overlay {
    background: linear-gradient(209.21deg,
            rgb(225, 72, 133) 13.57%,
            rgb(241, 67, 102) 98.38%) !important;
}

.cyberCardBox-item.gradient_box_10 .cyberCardBox-overlay {
    background: linear-gradient(209.21deg,
            rgb(57, 17, 123) 13.57%,
            rgb(191, 149, 248) 98.38%) !important;
}

.cyberCardBox-item.gradient_box_11 .cyberCardBox-overlay {
    background: linear-gradient(209.21deg,
            rgb(10, 57, 136) 13.57%,
            rgb(188, 168, 255) 98.38%) !important;
}

.cyberCardBox-item.gradient_box_12 .cyberCardBox-overlay {
    background: linear-gradient(209.21deg,
            rgb(90, 54, 192) 13.57%,
            rgb(29, 145, 252) 98.38%) !important;
}

.cyberCardBox-item.gradient_box_13 .cyberCardBox-overlay {
    background: linear-gradient(209.21deg,
            rgb(45, 14, 171) 13.57%,
            rgb(109, 81, 231) 98.38%) !important;
}

.cyberCardBox-item.gradient_box_14 .cyberCardBox-overlay {
    background: linear-gradient(209.21deg,
            rgb(17, 39, 174) 13.57%,
            rgb(90, 113, 251) 98.38%) !important;
}

.cyberCardBox-item.gradient_box_15 .cyberCardBox-overlay {
    background: linear-gradient(209.21deg,
            rgb(193, 48, 39) 13.57%,
            rgb(226, 131, 115) 98.38%) !important;
}

.cyberCardBox-item.gradient_box_16 .cyberCardBox-overlay {
    background: linear-gradient(209.21deg,
            rgb(14, 11, 147) 13.57%,
            rgb(94, 182, 202) 98.38%) !important;
}

/* ----------------------------- Custome Column ----------------------------- */


.cyberCardBox__container.zn_section {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: #f4f8ff;
}

.cyberCardBox__container.zn_section>.zn_section_size {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 15px;
    padding-right: 15px;
}

.cyberCardBox__container.zn_section>.zn_section_size {
    width: 100%;
}

.cyberCardBox__container.zn_section .cyberCardBox__row>.row.zn_col_container-smart_container>.znColumnElement {
    margin: 15px 0;
}

.cyberCardBox__row .zn_custom_html {
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .cyberCardBox__container.zn_section>.zn_section_size {
        width: 750px;
    }

    .secCourse-subpage.zn_section>.zn_section_size {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .cyberCardBox__container.zn_section>.zn_section_size {
        width: 970px;
    }
}

@media screen and (min-width: 1200px) {
    .cyberCardBox__container.zn_section>.zn_section_size {
        width: 92%;
    }
}

.cyberCardBox__container.zn_section .cyberCardBox__row>.row.zn_col_container-smart_container {
    display: flex;
    flex-wrap: wrap;
}

.cyberCardBox__container.zn_section .cyberCardBox__row>.row.zn_col_container-smart_container>.znColumnElement {
    width: 50%;
}

@media screen and (min-width: 586px) {
    .cyberCardBox__container.zn_section .cyberCardBox__row>.row.zn_col_container-smart_container>.znColumnElement {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .cyberCardBox__container.zn_section .cyberCardBox__row>.row.zn_col_container-smart_container>.znColumnElement {
        width: calc(100%/3);
    }
}

@media screen and (min-width: 992px) {
    .cyberCardBox__container.zn_section .cyberCardBox__row>.row.zn_col_container-smart_container>.znColumnElement {
        width: 25%;
    }
}

@media screen and (min-width: 1400px) {
    .cyberCardBox__container.zn_section .cyberCardBox__row>.row.zn_col_container-smart_container>.znColumnElement {
        /* width: calc(100%/5); */
    }
}

@media screen and (min-width: 1920px) {
    .cyberCardBox__container.zn_section .cyberCardBox__row>.row.zn_col_container-smart_container>.znColumnElement {
        width: calc(100%/5);
    }
}

.cyberCardBox__row .row.zn_col_container-smart_container .znColumnElement-innerWrapper .znColumnElement-innerContent {
    display: flex;
    height: 100%;
}

@media screen and (max-width:576px) {
    .cyberCardBox-item {
        padding: 15px 5px;
    }

    .cyberCardBox-tag {
        font-size: 9px;
        margin-right: 2px;
        padding: 0px 4px;
    }

    .cyberCardBox__container.zn_section .cyberCardBox__row>.row.zn_col_container-smart_container>.znColumnElement {
        margin: 8px 0;
        padding-right: 8px;
        padding-left: 8px;
    }

}